/* Give your page a fun background color */
body{
  background-color: rgba(154, 167, 177, 0.48);
}
/* Make the header and footer a different color from the background */
header{
  background-color: rgba(32, 59, 129, 0.92);
  margin-top: -25px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 0px;
  height:100px;
}
h1{
  padding-top: 30px;
}
footer{
  background-color: rgba(148, 21, 21, 1);
  position: absolute;
  bottom: 0;
  width:100%;

}
/* Align the h1 containing your name in the center of the header*/
h1{
  text-align: center;
}
/* Make your p tag a different color and italic */
p{
  font-style: italic;
  color: white;
}
/* Put a border around your image */
img{
  border-style:solid;
  margin:150px;
  margin-right: 25px;
  float:left;
}
/* Change the font-family of your list */
ul{
  font-family: sans-serif;
  font-size: large;
  float:left;
  margin:200px;
  margin-left: 0px;
}
li{
  padding-top: 5px;
  padding-bottom: 5px;
}
